img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 1px 1px 3% 1px;
    margin: 1%;
    box-shadow: 5px 5px 15px 5px grey;
}
body{
    position: relative;
}
.images{
    text-align: center;
    border-radius:15px;
}
.images:hover{
    background-image: linear-gradient(to right, orangered,white , green);
}

select{
    border: 1px solid rgb(233, 59, 62);
    border-radius: 5px;
    color:white;
    background-color:  orangered;
}
option{
    background-color:lightsalmon ;
    color:white;
}

#search{
    border: 1px solid white;
    border-radius: 5px;
    background-image: linear-gradient(to right, orangered,white , green);
}
input::placeholder{
    color: rgb(145, 7, 145);
}

a:hover{
    background-color:rgba(0,0,0,0.2);
    padding: 1px;
    color: green;
}
a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
#up_button{
    background-color: green;
    color: white;
    position: absolute;
    right: 1%;
    bottom: 1%;
    border-radius: 50%;
    padding: 0% 1%;
    font-size: 150%;
}

@media screen and (max-width:767px) {
    #select{
        width: 30%;
    }
    #up_button{
        display: none;
    }
    
}
